<div class="employee-list-container">
  <h2>Employee List</h2>
  <button routerLink="add-employee"><strong>Add Employee</strong></button>
  <table>
    <thead>
      <tr>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Email</th>
        <th>Employee Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.email}}</td>
        <td>
          <button [routerLink]="['/view-employee', employee.email]">View</button>
          <button [routerLink]="['/update-employee', employee.email]">Edit</button>
          <button (click)="deleteEmployee(employee)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>